body{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay-Regular.ttf);

    font-family: Galano;
    src: url(fonts/GalanoGrotesqueThin.otf);
}

/* Main menu with big image */
#homeUp{
background-color: black;
position: relative;
height: 100vh;
font-family: PlayFairDisplay;
}

/* ::before pozwala na stowrzenie elemtu tylko w css */
#homeUp::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(img/img_home.jpg);
    background-size: cover;
    background-position: 62% 0;
    opacity: 0.8;
}


/* navigation bar items*/
nav {
    position: relative;
    font-size: 16px;
    padding: 30px 3%;
}

    /* underline and color with flow */
nav a{
    text-decoration: none; 
    color: rgba(255, 255, 255, 70%);
}


.menu{
    list-style-type: none;
    display: inline;
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline;
    padding: 30px;
}
.center img{
    position: relative;
    scale: 40%;
    top: -150px;
}

/* main text with SCRIPT*/
#homeUp h2{

    /* makes text na overlay* */
    top: 40px;
    left: 0;
    position: absolute;
    color: rgba(255, 255, 255, 80%);

    /* center text */
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Part about me */
#aboutMe{
    height: 220px;
    text-align: center;
    padding-top: 80px;
    font-family: PlayFairDisplay;

}
.buttonAboutMe a{
    text-decoration: none; 
    color: black;
}
#aboutMe h2{
    padding-top: 20px;
}

/* video block */
#videoBlock{
    width: 100%;
    height: 80vh;
    position: relative;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0) 50%, rgba(0, 0, 0, 0.90));
}
#video1{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 80vh;
    scale: (1);
    z-index: -1;
}
.videoTEXT{
    font-family: Galano;
    font-size: 3vh;
    bottom: 0;
    padding-left: 50px;
    padding-bottom: 20px;
    color: white;
    position: absolute;
    display: flex;
    letter-spacing: 3px;

    max-width: 100%;

}


/* PHOTO ROW  UNDER VIDEO*/

#span{
    min-height: 70vh;
}
@media only screen{
    #span{
        min-height: 90vh;
    }
}


/*ROW 1*/
#photo-row-1{
    position: relative;
    min-height: 120vh;
    font-family: PlayFairDisplay;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0) 50%,rgba(0, 0, 0, 0.90) 90%, rgba(0, 0, 0, 1) 100%), url(img/img2.jpg);
    background-size: cover;
    background-position: 50% 0;
    
    
}

#row-1{
height: 50%;
padding: 50px;
}
    .title-row-1{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 3.5vh;

        color: white;
        position: relative;
        letter-spacing: 3px;

    }
    .text-row-1{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 2vh;

        color: white;
        position: relative;
        letter-spacing: 3px;
    }
/**/


/*ROW 2*/
#photo-row-2{
    position: relative;
    min-height: 120vh;
    font-family: PlayFairDisplay;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0) 50%,rgba(0, 0, 0, 0.90) 90%, rgba(0, 0, 0, 1) 100%), 
        linear-gradient(to top,rgba(245, 246, 252, 0) 50%,rgba(0, 0, 0, 0.90) 90%, rgba(0, 0, 0, 1) 100%), 
        url(img/img3.jpg);
    
    background-size: cover;
    background-position: 45% 0;
    
    
}

#row-2{
height: 50%;
padding: 50px;
}
    .title-row-2{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 3.5vh;

        color: white;
        position: relative;
        letter-spacing: 3px;

    }
    .text-row-2{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 2vh;

        color: white;
        position: relative;
        letter-spacing: 3px;
    }


/*ROW 3*/
#photo-row-3{
    position: relative;
    min-height: 120vh;
    font-family: PlayFairDisplay;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0) 50%,rgba(0, 0, 0, 0.90) 90%, rgba(0, 0, 0, 1) 100%), 
        linear-gradient(to top,rgba(245, 246, 252, 0) 50%,rgba(0, 0, 0, 0.90) 90%, rgba(0, 0, 0, 1) 100%), 
        url(img/img4.jpg);
    
    background-size: cover;
    background-position: 45% 0;
    
    
}

#row-3{
height: 50%;
padding: 50px;
}
    .title-row-3{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 3.5vh;

        color: white;
        position: relative;
        letter-spacing: 3px;

    }
    .text-row-3{
        font-family:PlayFairDisplay;
        text-transform: uppercase;
        font-size: 2vh;

        color: white;
        position: relative;
        letter-spacing: 3px;
    }
